:root {
    --main-color: #EBEEFE;
    --secondary-color:#F7F6FF;
}

body {
    position: relative;
    display: flex;
    width: 1440px;
    height: 906px;
    background: var(--main-color);
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}