:root {
    --main-color:#E5E5E5;
    --secondary-color:#F7F6FF;
}

body {
    position: absolute;
    width: 1440px;
    height: 906px;
    background: #EBEEF5;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}